<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.bangumi.jetpack">

    <application
        android:label="demo_kt"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
